@import '~bootstrap/scss/bootstrap';

// * {box-sizing: border-box;}


body, html {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
  background: linear-gradient(#3f5e5a, #332c23) no-repeat center center fixed !important;
	overflow-x: hidden;
  height: 100%;
  // padding-top: 10px;
}

main {
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
}

input {
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 1rem;
}

:root {
  --green: #080;
  --black: #000;
  --red: #f00;
}

#after-sign-in {
  display: none;
}

#left-side {
  float: left;
}

#right-side {
  float: right;
}

.inline-block {
  display: inline-block;
  text-align: center;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Adirondack.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  color: white;
}

// .form-inline button:hover {
//   background-color: orange;
// }

.border {
  border: 3px solid var(--black);
  margin: 20px;
  padding: 20px;
}

.success {
  color: var(--green);
}

.failure {
  color: var(--red);
}

.flex-box {
  justify-content: flex-end;
}
 

/* Position the navbar container inside the image */
// .container {
//   position: absolute;
//   margin: 20px;
//   width: auto;
// }

/* The navbar */
// .topnav {
//   overflow: hidden;
//   background-color: #333;
//   width: 100%;
//   position: absolute;
//   top: 0;
// }

// .navbar-form {
//     display: flex;
//     align-items: center;
// }